<!doctype html>
<html>

<head>
    <!-- <link rel="stylesheet" type="text/css" href="/assets/css/app.css"> -->
</head>

<body>
    <div id="sample"></div>
    <script type="text/javascript" src="/assets/js/app.bundle.js"></script>
</body>

</html>